# macOS system files
.DS_Store

# Node modules
node_modules/

# Output / build
dist/
build/
web-build/
*.log

# Expo generated
.expo/
.expo-shared/
.easl/
.expo-go

# EAS project metadata (project linking info)
.eas/

# React Native
ios/build/
android/app/build/
android/.gradle/
android/.idea/

# TypeScript
*.tsbuildinfo

# Logs and crash reports
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# IDE/editor folders
.vscode/
.idea/

# Environment
.env
.env.local
.env.development
.env.production
.env.test

# Metro
.cache/
babel-loader-cache/